{% extends "base.html" %}

{% block title %}Welcome - My Awesome Cart{% endblock %}

{% block content %}
<div class="p-5 mb-4 bg-light rounded-3">
  <div class="container-fluid py-5 text-center">
    <h1 class="display-5 fw-bold">Welcome to My Awesome Cart!</h1>
    <p class="col-md-8 mx-auto fs-4">Discover great products and read our latest blog posts.</p>
    <div class="d-flex justify-content-center gap-3 mt-4">
      <a href="blog/" class="btn btn-primary btn-lg">Visit Blog</a>
      <a href="shop/" class="btn btn-success btn-lg">Go to Shop</a>
    </div>
  </div>
</div>
{% endblock %}
